<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js" integrity="sha512-5BqtYqlWfJemW5+v+TZUs22uigI8tXeVah5S/1Z6qBLVO7gakAOtkOzUtgq6dsIo5c0NJdmGPs0H9I+2OHUHVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
        <div class="xyz">
            <div class="alert alert-success"  id="alert" role="alert"></div>
            <header>
                <h1>PDF Watermark Login</h1>
            </header>
                <!-- Login Form -->
            <form action="" id="loginForm" class="login">
            <span>Email:</span><input type="email" name="" id="email" class="email"><br>
            <span>Password:</span><input type="password" name="" id="password" class="password"><br>
            <input type="submit" value="Submit" id="submit" class="submit" /><br>
            <span class="last">Not registered yet? <a href="/register" id="register">click here</a></span>
            </form>
        </div>
          

    <script type="text/javascript">
      localStorage.setItem('LoggedIn',false)

    const submitBtn = document.getElementById('submit')

submitBtn.addEventListener('click',(e) => {
    e.preventDefault();
    const email= document.getElementById("email");
    const password= document.getElementById("password");
    if (mainFunc()) {
        console.log(email.value)
        console.log(password.value)
        fetch('/login', {
        method:'POST', 
        headers: {
        'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            email: email.value,
            password: password.value,
          })
        })
        .then(response => response.json())
        // .then(resp => resp.text()).then(console.log)
        .then((data) => {
            // console.log(data)
            if (data.msgType !== "Error") {
                localStorage.setItem('LoggedIn',true)
                location.href = "/uploadpdf"
            } else {
                if (data.msg == "Wrong Password") {
                    console.log(data.msg)
                    document.getElementById("alert").style.display="block"
                document.getElementById("alert").innerHTML = "Wrong password"   
                setTimeout(function() {
                document.getElementById("alert").style.display = "none"
                }, 4000)
                }else{
                    console.log(data.msg)
                document.getElementById("alert").style.display="block"
                document.getElementById("alert").innerHTML = "Not registered yet"   
                setTimeout(function() {
                document.getElementById("alert").style.display = "none"
                }, 4000)
                }

               
            }
        })
        // .then(json => console.log(json))
        .catch(error => {
            if(error){
                console.log('Request Failed',error)
            }
        });
        console.log("logged In")
    }
    else {
        console.log("Cannot logged In")
    }    
})


function mainFunc(){
    const email= document.getElementById("email");
    const password= document.getElementById("password");
    email.classList.remove('error')
    password.classList.remove('error')
    if (EmailValidate(email.value) && passwordValidate(password.value)){
        console.log("form submitted")
        return true
    }
    else{
        if (!EmailValidate(email.value)) {
            email.classList.add('error')
        }
        if (!passwordValidate(password.value)) {
            password.classList.add('error')
        }
        console.log("plaese fill the details")
        document.getElementById("alert").style.display="block"
                document.getElementById("alert").innerHTML = "Please fill the details"   
                setTimeout(function() {
                document.getElementById("alert").style.display = "none"
                }, 3000)
        return false
    }   
}
function EmailValidate(email){
    const regularExpression  = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
    return email.match(regularExpression)   
}
function passwordValidate(password){
    const regularExpression  = /^[a-zA-Z0-9!@#$%^&*]{6,16}$/;
    return password.match(regularExpression)   
}
</script>
</body>